misc.xml
workspace.xml
vcs.xml
uiDesigner.xml
modules.xml
.name
.env

# Not useful folders
Misc/
Non-git/
Videos/
.idea
.idea/
out
out/
out/production
out/production/
out/production/UHC-Datapack-Creator
out/production/UHC-Datapack-Creator/

# Server folders
Server/
!Server/plugins/*.jar
!Server/plugins/OpenAudioMc/config.yml
!Server/paper*.jar

# Copy files
playerConnections_copy.txt
nicknames.txt