
misc.xml
workspace.xml
vcs.xml
uiDesigner.xml
modules.xml
.name




# Not useful folders
Misc/
Non-git/
Server/
Videos/
.idea
.idea/
out
out/
out/production
out/production/
out/production/UHC-Datapack-Creator
out/production/UHC-Datapack-Creator/