misc.xml
workspace.xml
vcs.xml
uiDesigner.xml
modules.xml
.name
.env

# Not useful folders
Misc/
Non-git/
Videos/
.idea
.idea/
out
out/
out/production
out/production/
out/production/UHC-Datapack-Creator
out/production/UHC-Datapack-Creator/

# Server folders
# Ignore everything in Server
Server/**

# But don't ignore these files
!Server/eula.txt
!Server/paper-*.jar
!Server/server.properties

# Don't ignore .jar files in Server/plugins/
!Server/plugins/
!Server/plugins/*.jar

# Don't ignore config.yml in OpenAudioMc subfolder
!Server/plugins/OpenAudioMc/
!Server/plugins/OpenAudioMc/config.yml

# Copy files
playerConnections_copy.txt
nicknames.txt