
*.sfk
*.mp4
*.mp3
*.bak
*.veg
*.tmp
Data/*
!Data/DataS39.mat
!Data/DataS40.mat
!Data/DataS41.mat
!Data/DataS42.mat
!Data/DataURE1.mat
!Data/DataURE2.mat
!Data/DataURE3.mat
Documents/*
!Documents/190608UHC_Documentation.pdf
Emotes/*
Figures/*