
*.sfk
*.mp4
*.mp3
*.bak
*.veg
*.tmp
*.asv
Data/*
!Data/DataS39.mat
!Data/DataS40.mat
!Data/DataS41.mat
!Data/DataS42.mat
!Data/DataS43.mat
!Data/DataS44.mat
!Data/DataS45A.mat
!Data/DataS45B.mat
!Data/DataS46.mat
!Data/DataS47.mat
!Data/DataS48.mat
!Data/DataS49.mat
!Data/DataS50.mat
!Data/DataS51.mat
!Data/DataS52.mat
!Data/DataS53.mat
!Data/DataURE1.mat
!Data/DataURE2.mat
!Data/DataURE3.mat
!Data/DataURE4.mat
!Data/DataURE5.mat
!Data/DataURE6.mat
!Data/DataKJ1.mat
Documents/*
!Documents/190608UHC_Documentation.pdf
Emotes/*
Figures/*